@use "~bootstrap/scss/bootstrap" as *;
@import "@/scss/loader.scss";

body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
